h5 {
	display: inline;
}

.no_reminders, .not_logged_in, .register_error {
	display: none;
}

.register_error {
	color: #ff1a1a;
}



@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}