* {
	font-family: 'Montserrat';
}

.welcome-message {
	margin-top: -10%;
}

.container {
	background-color: #f3f6f7;
	padding: 8%;
	border-radius: 10px;
	margin-top: 5%;
}

h5 {
	display: inline;
}

.no-reminders, .not-logged-in, .register-error {
	display: none;
}

.register-error, .signin-error {
	color: #ff1a1a;
}



@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.reminder-info {
	font-size: 12px;
	position: relative;
}

.reminder-name {
	float: right;
	font-size: 18px;
}

.delete-button {
	float: right;
	clear: all; 
	right: 3px;
	bottom: 3px;
}

.name-input {
	width: 100%;
}