<!-- Register

<div class="register">
    <form>
      <label for="email">Email:</label>
      <input type="text" name="email" ng-model="email">
      <br>
      <label for="email">Password:</label>
      <input type="password" name="password" ng-model="password">
      <br>
    </form>


    <button type="button" ng-click="register()">Register</button>

</div> -->

Sign In

<div class="sign_in">
    <form>
      <label for="phone_number">phone_number</label>
      <input type="text" name="phone_number" ng-model="phone_number">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" ng-model="password">
      <br>
    </form>
    <button type="button" ng-click="signin()">Sign In</button>
</div>